body {
    background-color:white;
    background-size: cover;
}
.title {
    text-align: center;
    color: black;
    padding-top: 100px;
}
.heading {
    text-align: center;
    padding: 20px;
    color: black;
}
@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 70px;
    }

    h3 {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }

    h3 {
        font-size: 70px;
    }
}
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}